<input type="checkbox" id="nav-toggle" class="navbar-toggler" title="Toggle navigation menu" />

<div class="nav-scrollable">
    <nav class="nav-menu">
        <div class="nav-item">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="icon" aria-hidden="true">🏠</span> Home
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="/dashboards">
                <span class="icon" aria-hidden="true">📊</span> Dashboards
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="/data-sources">
                <span class="icon" aria-hidden="true">🗂️</span> Data Sources
            </NavLink>
        </div>
    </nav>
</div>